<div class="nav">
  <div class="nav-content">
    <div class="flex-column">
      <h1 class="m-0 upper-case">Nova admissão cooperado</h1>
      <p class="m-0">Cadastro / Admissão do Cooperado / Nova admissão de Cooperado</p>
    </div>
    <div class="flex-row align-center gap-1">
      <mat-icon class="primary-color bigger-icon">notifications</mat-icon>
      <span class="position-relative">
        <span class="notifications-count">{{notifications.length}}</span>
      </span>
      <button class="btn-nav font-bold upper-case">{{company}}</button>
      <span class="profile-nav">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="perfil" class="img-profile">
        <span class="position-relative">
          <span class="perfil-settings">
            <mat-icon>settings</mat-icon>
          </span>
        </span>
      </span>
    </div>
  </div>
</div>
